.container
  box-sizing: border-box;

  margin: 0
  padding: 0
  position: relative;


.image
  max-width: 100%
  margin: 0
  padding: 0

  user-select: none;


.region
  box-sizing: border-box;

  position: absolute;
  left: 0
  top: 0
  right: 0
  bottom: 0
