.container
  position: relative;
  box-sizing: border-box;
  width: 100%;


.image
  width: 100%
  margin: 0
  padding: 0

.region
  box-sizing: border-box;

  position: absolute;
  left: 0
  top: 0
  right: 0
  bottom: 0
