@import '../../uikit/colors'
@import '../../uikit/font'

.gem-selectregion
  position: relative;

  &-selection
    position: absolute;
    border: 2px dashed color-pink
    background: transparent;

  &-drag
    box-sizing: border-box;
    position: absolute;

    width: 10px
    height: 10px

    background-color: darken(color-pink, 40%)
    border: 1px solid lighten(color-pink-light, 50%)

    cursor: pointer;

    border-radius: 5px

    transform: translate(-5px, -5px);

  &-delete
    position: absolute;
    top: -2px
    right: -20px

    height: 20px
    width: 20px
    line-height: 20px

    font-weight: 600
    font-size: 13px;

    box-sizing: border-box;

    color: color-white
    background: color-pink;

    padding: 0

    outline: 0;
    cursor: pointer;

    visibility: hidden;

    .gem-selectregion-selection:hover &
      visibility: visible;
