@import '../../uikit/colors'
@import '../../uikit/consts'

.container
  box-sizing: border-box;

  padding: s-padding-big
  margin: s-margin-big

  border-radius: 4px
  background-color: color-white
  border: solid 1px color-grey

  @media(max-width: 660px)
    margin: 0;
