@import '../../../../uikit/colors'
@import '../../../../uikit/font'

.container
  position: absolute;
  top: 0
  height: 40px

  display: flex;
  align-content: stretch;
  justify-content: space-between;

.start
.end
  width: 2px
  background-color: alpha(color-green, 0.8)
  position relative

  cursor: col-resize;

.range
  flex-grow: 1
  background-color: alpha(color-green, 0.3)

  cursor: move;

  &:hover
    background-color: alpha(color-green, 0.4)
