@import '../../../../uikit/colors'
@import '../../../../uikit/font'

.button
  box-sizing: border-box;
  position: relative;

  padding: 0
  font(font-preset[menu], 600, false, 36px)
  height: 38px
  width: 38px

  text-align: center;

  color: color-white
  background-color: color-pink
  border-radius: 2px

  cursor: pointer;
  outline: none

  &:hover
    background-color: color-pink-light
