@import '../../../../uikit/colors'
@import '../../../../uikit/font'

.container
  position: absolute;
  top: 0
  bottom: 0

  display: flex;
  align-content: stretch;
  justify-content: space-between;

.start
.end
  width: 2px
  background-color: alpha(color-green, 0.2)
  position relative

.range
  flex-grow: 1
  background-color: alpha(color-green, 0.1)

  cursor: move;
