@import '../../../../uikit/colors'
@import '../../../../uikit/font'

.container
  display: flex;
  width: 100%
  align-items: center;
  justify-content: space-between;

.play
  margin-right: 15px

.timeline
  box-sizing: border-box;

  position: relative;
  height: 60px;
  width: 100%;

  border: 1px solid color-border-grey

  flex-grow: 1
