@import '../../../../uikit/colors'
@import '../../../../uikit/font'

.container
  display: flex;
  width: 100%
  align-items: center;
  justify-content: space-between;

.play
  margin-right: 10px

.timeline
  position: relative;
  height: 40px;
  width: 100%;
  background-color: alpha(color-border-grey, 40%);

  flex-grow: 1
