@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.content
  font-size: 20px;
  line-height: 24px;
  max-width: 800px;
  color: color-text-dark

  margin: 25px auto;

  @media(max-width: 660px)
    margin: 25px auto;
    padding: 0 10px

.smallFont
  font-size: 16px
  font-weight: 400

.largeFont
  font-size: 24px
  font-weight: 400

  @media(max-width: 660px)
    font-size: 20px;
