@import "../../uikit/font";
@import "../../uikit/colors";

.gem-input
  box-sizing: border-box
  display: inline-block

  font(font-preset[normal], false, false, auto)

  height: 40px;
  padding: 0 17px 0 10px

  background-color: color-white
  color: color-text-1

  border-radius: 2px
  border: solid 1px color-border-grey

  outline: 0

  &:focus
    box-shadow: 0 0 4px 0 color-text-gray-1;
    border: solid 1px color-text-gray-1;
