@import '../../../src/uikit/colors'
@import '../../../src/uikit/font'

.container
  padding-top: 10px
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

.fullscreen
  min-height: calc(100vh - 180px)

.content
  display: flex;
  flex-grow: 1

.form
  width: 100%
  margin-right: 10px;
