@import '../../../../src/uikit/colors'
@import '../../../../src/uikit/font'

.input
  font-family: "Courier-new",  monospace;
  font-size: 13px
  font-weight: 500
  min-height: 300px;

  background-color: #f8f8f8
  color: #905

  border: 0
  box-shadow: inset 0 0 4px 0 color-text-gray-1;
  padding-top: 20px;
  padding-bottom: 20px;

  outline: 0
  resize:vertical;

  &:focus
    border: 0
    box-shadow: inset 0 0 4px 0 color-text-gray-1;
