@import "../../uikit/font";
@import "../../uikit/colors";

.gem-textarea
  box-sizing: border-box
  display: inline-block

  font(font-preset[normal], false, false, normal)

  width: 100%

  padding: 10px 10px 10px 17px

  background-color: color-white
  color: color-text-1

  border-radius: 2px
  border: solid 1px color-border-grey

  outline: 0
  resize:vertical;

  &:focus
    box-shadow: 0 0 4px 0 color-text-gray-1;
    border: solid 1px color-text-gray-1;
