@import '../../../uikit/colors'
@import '../../../uikit/font'

.slider
  position: relative;

.content
  border: 1px solid red;
  width: 100%;

.slider
  height: 40px;
  width: 100%;

  background-color: color-border-grey;

.seek
  position: absolute;
  top: 0
  height: 40px;
  width: 3px

  background-color: color-pink
