@import '../../uikit/colors'
@import '../../uikit/font'

.collapsable
  box-sizing: border-box;

  width: 100%;
  min-width: 600px
  border: 1px solid #C4C4C4;

  border-radius: 4px

  @media(max-width: 660px)
    min-width: 100%

.header
  box-sizing: border-box;
  padding: 24px
  font(font-preset[title], 600)
  color: color-black

.container
  box-sizing: border-box;
  padding: 0 24px 24px
