@import '../../uikit/colors'
@import '../../uikit/font'

.collapsable
  box-sizing: border-box;

  width: 100%;
  padding: 15px 10px 15px 15px
  border: 1px solid color-border-grey;

  border-radius: 5px

.header
  font(font-preset[menu], 600)
  color: lighten(color-text-1, 10%)

  &:hover
    color: lighten(color-text-1, 30%)
