
color-blue = #1c2541;
color-pink = #ff7092;
color-pink-light = #FF8EA9
color-white = #ffffff;
color-black = #000000;

color-grey = #f2f2f2;
color-border-grey = #e0e0e0;

color-aqua = #6fffe9
color-aqua-light = #94FFEF

color-text-1 = #3a506b
color-text-gray-1 =  #b8b8b8

color-green = #15C39A
