font-family-base = 'Poppins'

font-preset = {
  'headline': (400 24px 1.3),
  'title': (500 20px 1.4),
  'menu': (400 18px 1.4),
  'subheader': (400 16px 1.4),
  'normal': (400 14px 1.4),
  'body': (400 13px 1.4),
  'caption': (400 12px 1.3),
}

font-base(weight, size, line-height)
  font-family: font-family-base
  if weight
    font-weight: weight
  if size
    font-size: size
  if line-height
    line-height: line-height

font(preset, omit-weight=false, omit-size=false, omit-line-height=false)
  weight = preset[0]
  if omit-weight
    weight = omit-weight

  size = preset[1]
  if omit-size
    size = omit-size

  line-height = preset[2]
  if omit-line-height
    line-height = omit-line-height

  font-base(weight, size, line-height)
