@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.title
  text-align: center;

  font(font-preset[subheader], 600, 16px, 24px)
  color: color-blue

.content
  margin-top: 5px;
  text-align: center;

  font(font-preset[title], 400, 20px)
  color: color-blue
