@import '../../uikit/colors'
@import '../../uikit/font'

.dropdown
  box-sizing: border-box;

  width: 100%;
  border-radius: 2px;
  padding: 0 12px
  border: 1px solid color-border-grey;

.label
  width: 100%;
