@import '../../uikit/colors'
@import '../../uikit/font'

.dropdown
  box-sizing: border-box;

  width: 100%;
  border-radius: 2px;
  padding: 0 12px
  border: 1px solid color-border-grey;

.content
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 100%
  height: 48px

.value
.placeholder
  font(font-preset[subheader])
  flex-grow: 1

  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis


.placeholder
  color: #1C2541
  opacity: 0.5
