@import '../../src/uikit/colors'

.kind
  margin-bottom: 30px;

.kindName
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;

.kindContent
  margin-top: 10px;

.panel
  min-height: calc(100vh - 50px)
