@import '../../../src/uikit/colors'

.container
  position relative
  box-sizing: border-box;

.actions
  display: flex;
  justify-content: flex-end;

.form
  display: block
  margin: 0 auto
  max-width: 900px;

.button
  color: color-pink-light
