@import '../../../src/uikit/consts'

.container
  box-sizing: border-box;
  text-align: center;
  padding: 0 10px
  width: 700px

  @media(max-width: 660px)
    width: 100%;
    padding: 0 10px

.actions
  display: flex;
  justify-content: flex-end;
  align-items: center;

  box-sizing: border-box;
  padding: 15px 15px 20px

.textarea
  min-height: 500px
