@import '../../../uikit/colors'
@import '../../../uikit/font'

.boundary
  position: absolute;
  box-sizing: border-box;
  top: 0
  bottom: 0

  background-color: alpha(color-border-grey, 0.3);

.from
  left: 0
  border-right: 1px solid color-border-grey

.to
  right: 0
  border-left: 1px solid color-border-grey
