.gem-collapsable
  box-sizing: border-box;

  &-header
    user-select: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-inner
      flex-grow: 1

    &-toggle
      margin-right: 10px;

    &-shevron
      path
        fill: #1C2541




  &-content
    overflow hidden
