@import '../../uikit/colors'
@import '../../uikit/font'

.inner
  overflow: hidden;
  position: relative;

  max-width: 100%


.region
  cursor: crosshair;
  overflow: scroll;

.clear
  position: absolute;
  top: 5px
  right: 5px

  padding: 0 15px;
  font(font-preset[subheader], 600, false, 30px)

  color: color-white
  background-color: color-pink;
  border-radius: 3px;

  cursor: pointer;
  outline: none;

  &:hover
    background-color: color-pink-light;
