@import '../../../../uikit/colors'
@import '../../../../uikit/font'

.container
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;

  @media(max-width: 768px)
    flex-direction: column;

.field
  margin-right: 20px
  max-width: 200px


  @media(max-width: 768px)
    width: 100%
    max-width: 100%
    margin-bottom: 10px

.label
  font(font-preset[normal])
  color: color-text-gray-1
  margin-bottom: 2px

.input
  width: 100%

.actions
  height: 40px
  display: flex;
  align-items: center;
  justify-content: flex-start;

.button
  margin-right: 10px

.delete
  box-sizing: border-box;
  cursor: pointer;
  outline: none;

  height: 30px
  width: 30px

  background-color: transparent;
  font-size: 20px
  font-weight: 600
  color: color-pink

  &:hover
    color: color-pink-light
