@import '../../uikit/colors'

.container
  display: flex;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;

  border-radius: 4px
  height: 100px

  padding: 0 12px

  outline: none;
  cursor pointer

  text-align: left;

  color: #1C2541
  background-color: transparent

.selected
  background-color: color-pink
  color: color-white

.id
  box-sizing: border-box;
  font-size: 40px
  font-weight: 500;
  padding: 0 25px
  margin-right: 12px;


.caption
  font-size: 18px
