@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.actions
  display: flex;
  align-items: center;

.spacer
  width: 1px;
  height: 30px;
  opacity: 0.25
  margin: 0 10px
  background-color: #1C2541

  &:last-child
    display: none;

.button
  padding: 0 5px;
  color: color-text-grey
