.p
  box-sizing: border-box;
  padding: 0;
  color: color-text-1


.center
  text-align: center;

.smallFont
  font-size: 16px
  font-weight: 400

.mediumFont
  font-size: 24px
  font-weight: 400

  @media(max-width: 660px)
    font-size: 20px;
