@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.tag
  box-sizing: border-box;
  padding-left: 50px
  padding-top: 20px

.tags
  box-sizing: border-box;
  padding-top: 20px

.placeholder
  box-sizing: border-box;
  height: 60px

  display: flex;
  align-items: center;

  font(font-preset[menu])
  color: alpha(color-text-gray-1, 50%)
