
.container
  display: flex;

.leftJustify
  justify-content:flex-start;

.rightJustify
  justify-content: flex-end;

.centerJustify
  justify-content: center;

.betweenJustify
  justify-content: space-between;

.smallPadding
  padding: 10px 0;

.mediumPadding
  padding: 20px 0;

.vertical
  flex-direction: column;

.va
  align-items: center;

.horizontal
  flex-direction: row;

  > *
    margin-left: 20px;

    &:first-child
      margin-left: 0;

  @media(max-width: 768px)
    flex-direction: column;

    &.va
      align-items: stretch;

    > *
      margin-left: 0;
      margin-top: 20px;

      &:first-child
        margin-top: 0;
