@import '../../uikit/colors'
@import '../../uikit/font'

.container
  position: relative;

.video
  max-width: 100%
  min-height: 250px

.error
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  font(font-preset[title], 600)
  z-index: 2
  color: color-white

  display: flex;
  align-items: center;
  justify-content: center;
