@import '../../uikit/consts'

.container
  box-sizing: border-box;
  padding: 10px (2 * s-padding-big) (2 * s-padding-big)
  max-width: 800px;

  @media(max-width: 660px)
    width: 100%;
    padding: 10px 20px

.confirm
  min-width: 100px
